body{
    margin: 0;
    background-color: azure;
}

a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
a{
    transition: 0.2s;
}

.box-menu{
    position: fixed;
    overflow: hidden;
    top: 0px;
    right: 0px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box-menu a{
    float: right;
    display: block;
    text-align: center;
    padding: 14px 14px 14px 14px;
}
.box-menu .icon{
    display: none;
}
.box-menu a:hover{
    background-color: white;
    color: rgb(44, 173, 130);
    box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.2, 1.2);
}
@media screen and (max-width: 600px) {
    .box-menu a:not(:last-child) {display: none;}
    .box-menu a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .box-menu.responsive {position: relative;}
    .box-menu.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .box-menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

img{
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#nama{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#role{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
#kolom1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-right: 40px;
}
#kolom2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.table1{
    border-spacing: 0.5rem;
    float: left;
}
.table2{
    line-break: auto;
    border-spacing: 0.5rem;
    float: none;
    padding-left: 30px;
}

.profil1{
    position: static;
    background: white;
    border-radius: 20px;
    padding: 20px 15px 20px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 80px 15px 20px 15px;
    width: auto;
}

.form1{
    position: static;
    border-radius: 20px;
    background: white;
    padding: 20px 15px 20px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    margin: 0 15px 30px 15px;
    font-weight: bold;
}

input[type=text]{
    width: 100%;
    display: block;
    transition: ease-in-out;
}
input[type=text]:focus{
    width: 100%;
    background-color: rgb(216, 247, 219);
}

button{
    transition: 0.2s;
}
#tombol-kontak{
    border-radius: 20px;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-color: blue;
    background-color: blue;
    color: white;
    padding: 10px 20px;
}
#tombol-kontak:hover{
    opacity: 80%;
    transform: scale(1.05, 1.05);
}
#tombol-kontak:active{
    transform: translateY(4px);
}
#tombol-resume{
    border-radius: 20px;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-color: green;
    background-color: white;
    color: green;
    padding: 10px 20px;
}
#tombol-resume:hover{
    opacity: 80%;
    transform: scale(1.05, 1.05);
}
#tombol-resume:active{
    transform: translateY(4px); 
}
#tombol-submit{
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 3px rgb(170, 170, 170);
    width: 100%;
    cursor: pointer;
    border-color: green;
    background-color: green;
    color: white;
}
#tombol-submit:hover{
    opacity: 80%;
}
#tombol-submit:active{
    transform: translateY(4px);
}