@media(max-width: 400px){
    .selector{
        width: 321px;
    }
}
body{
    margin: 0;
}

a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
li{
    display: inline;
}

.box-menu{
    float: none;
    overflow: hidden;
    background: white;
    padding: 5px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    margin-bottom: 20px;
    text-align: right;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: 20px;
}

img{
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#nama{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#role{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
#kolom1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-right: 40px;
}
#kolom2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.table1{
    border-spacing: 0.5rem;
    float: left;
}
.table2{
    line-break: auto;
    border-spacing: 0.5rem;
    float: none;
    padding-left: 10%;
    padding-right: 5px;
}

.profil1{
    border-radius: 20px;
    float: none;
    background: inherit;
    padding: 20px 15px 20px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    margin: 0 15px 30px 15px;
}

.form1{
    border-radius: 20px;
    float: none;
    background: white;
    padding: 20px 15px 20px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    margin: 0 15px 30px 15px;
    font-weight: bold;
}

input[type=text]{
    width: 100%;
    display: block;
    transition: ease-in-out;
}
input[type=text]:focus{
    width: 100%;
    background-color: rgb(211, 211, 211);
}

button{
    transition: 0.5s;
}
#tombol-kontak{
    border-radius: 20px;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-color: blue;
    background-color: blue;
    color: white;
    padding: 10px 20px;
}
#tombol-kontak:hover{
    opacity: 80%;
}
#tombol-kontak:active{
    transform: translateY(4px);
}
#tombol-resume{
    border-radius: 20px;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-color: green;
    background-color: white;
    color: green;
    padding: 10px 20px;
}
#tombol-resume:hover{
    opacity: 80%;
}
#tombol-resume:active{
    transform: translateY(4px); 
}
#tombol-submit{
    border-radius: 20px;
    box-shadow: 0 4px 3px rgb(170, 170, 170);
    width: 100%;
    cursor: pointer;
    border-color: green;
    background-color: green;
    color: white;
}
#tombol-submit:hover{
    opacity: 80%;
}
#tombol-submit:active{
    transform: translateY(4px);
}